projet-document-structures/tei-editoriale/resources/schema/index.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="index">
      <oneOrMore>
        <element name="head">
          <attribute name="n">
            <data type="integer"/>
          </attribute>
          <text/>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="part">
          <attribute name="n">
            <data type="integer"/>
          </attribute>
          <oneOrMore>
            <element name="subpart">
              <attribute name="n">
                <data type="integer"/>
              </attribute>
              <text/>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
      <element name="foot">
        <text/>
      </element>
    </element>
  </start>
</grammar>
